<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="public/javascripts/jquery-1.9.1.js"></script>

    <script src="public/javascripts/MIA.js"></script>
</head>
<body mia-tpl="tpl-1">
<div class="container">
    <div class="page-header">
        <h1>欢迎来到下载页<small>&nbsp;新闻速递</small></h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-lg btn-block" mia-point="download-btn" href="http://xyq.gdl.netease.com/MHXY-MINI-3.0.0.exe" target="_blank">点我下载！</a>
        </div>
    </div>


</div>
</body>
</html>