<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/swipebox/source/swipebox.css">
    <script src="public/javascripts/jquery-1.9.1.js"></script>
    <script src="public/swipebox/source/jquery.swipebox.js"></script>
    <script src="public/javascripts/MIA.js"></script>
    <link rel="stylesheet" href="public/stylesheets/tpl1.css">
    <script type="text/javascript">
        jQuery(function($) {
            $(".swipebox").swipebox();
        });
    </script>
</head>
<body mia-tpl="tpl-1">
<div class="container">
    <div class="page-header">
        <h1>武神坛之战<small>&nbsp;新闻速递</small></h1>
    </div>
    <div class="well">HI！我们发现你曾经进入过下载页面，但并没下载游戏，是不是我们做得不够呢？</div>
    <div class="row row4">
        <div class="col-lg-12">
            <div class="well">快来下载梦幻西游2吧！ <a class="btn btn-info" href="/download" target="_blank" id="btn-more" mia-point="download-a">进入下载</a></div>
        </div>
    </div>
    <div class="row row3" id="news-list">
        <blockquote>
            <p>武神坛新闻一览</p>
        </blockquote>
        <div class="col-lg-12">
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/6.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">套路足，水太深！86届武神坛半决赛速递</a></h4>
                    86届武神坛半决赛对阵中，小梅沙对阵紫禁城，这两个服务器的渊源相信很多玩家都有所了解。79联八进四，小梅沙遭遇紫禁城，强势力克紫禁城杀入四强，并最终获得冠军；83联决赛小梅沙再次与紫禁城相遇，这次结果却截然相反，紫禁城力克小梅沙获得冠军； <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/11.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">暴力对决！84联4进2紫禁城VS朱紫坊</a></h4>
                    阵法方面，朱紫坊风扬阵大克紫禁城的天覆阵。紫禁城采用了四输出的暴力体系，并开出了天阵保证输出最大化，企图攻破朱紫坊的防守。而朱紫坊反而选择三攻双辅助的暴力队与紫禁城对冲，并在阵法上大克对手，以暴力的输出回应了拿暴力当招牌的紫禁城。  <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/8.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">新科冠军 蝴蝶泉勇夺86届武神坛冠军</a></h4>
                    《梦幻西游2》第86届武神坛之战，恭喜云南区蝴蝶泉问鼎冠军。蝴蝶泉知名指挥菠萝实至名归，漂亮的点杀，超强的意识。 <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/6.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">套路足，水太深！86届武神坛半决赛速递</a></h4>
                    86届武神坛半决赛对阵中，小梅沙对阵紫禁城，这两个服务器的渊源相信很多玩家都有所了解。79联八进四，小梅沙遭遇紫禁城，强势力克紫禁城杀入四强，并最终获得冠军；83联决赛小梅沙再次与紫禁城相遇，这次结果却截然相反，紫禁城力克小梅沙获得冠军； <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/11.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">暴力对决！84联4进2紫禁城VS朱紫坊</a></h4>
                    阵法方面，朱紫坊风扬阵大克紫禁城的天覆阵。紫禁城采用了四输出的暴力体系，并开出了天阵保证输出最大化，企图攻破朱紫坊的防守。而朱紫坊反而选择三攻双辅助的暴力队与紫禁城对冲，并在阵法上大克对手，以暴力的输出回应了拿暴力当招牌的紫禁城。  <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
            <div class="media">
                <a class="pull-left thumbnail" href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="http://wst.webapp.163.com/images/8.png" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body well">
                    <h4 class="media-heading"><a href="http://xyq.163.com" target="_blank">新科冠军 蝴蝶泉勇夺86届武神坛冠军</a></h4>
                    《梦幻西游2》第86届武神坛之战，恭喜云南区蝴蝶泉问鼎冠军。蝴蝶泉知名指挥菠萝实至名归，漂亮的点杀，超强的意识。 <a class="btn btn-info btn-xs" href="http://xyq.163.com/" target="_blank">了解详情>></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row row2" id="pic-list">
        <blockquote>
            <p>各服精彩对阵图</p>
        </blockquote>
        <div class="col-sm-6 col-md-3">
            <a href="http://img.nie.163.com/images/2013/9/15/2013-09-15_350553.jpg" class="thumbnail swipebox" title="蝴蝶泉">
                <img data-src="holder.js/100%x180" alt="100%x180"
                     src="http://img.nie.163.com/images/2013/9/15/2013-09-15_350553.jpg"
                     style="height: 180px; width: 100%; display: block;">
            </a>
            <h4>精彩截图</h4>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="http://img.nie.163.com/images/2013/7/24/2013-07-24_308193.jpg" class="thumbnail swipebox" title="小梅沙">
                <img alt="100%x180"
                     src="http://img.nie.163.com/images/2013/7/24/2013-07-24_308193.jpg"
                     style="height: 180px; width: 100%; display: block;">
            </a>
            <h4>精彩截图</h4>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="http://img.nie.163.com/images/2013/9/15/2013-09-15_350539.jpg" class="thumbnail swipebox" title="紫禁城">
                <img data-src="holder.js/100%x180" alt="100%x180"
                     src="http://img.nie.163.com/images/2013/9/15/2013-09-15_350539.jpg"
                     style="height: 180px; width: 100%; display: block;">
            </a>
            <h4>精彩截图</h4>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="http://img.nie.163.com/images/2013/9/15/2013-09-15_350439.jpg" class="thumbnail swipebox" title="流花湖">
                <img data-src="holder.js/100%x180" alt="100%x180"
                     src="http://img.nie.163.com/images/2013/9/15/2013-09-15_350439.jpg"
                     style="height: 180px; width: 100%; display: block;">
            </a>
            <h4>精彩截图</h4>
        </div>

    </div>


</div>
</body>
</html>