
<!DOCTYPE html>
<head>
    <meta charset="gb2312" />
    <!--整站标题关键词描述 Start 2013-06-28-->

    <!--整站标题关键词描述 End 2013-06-28-->

    <!--cms-->
    <title>《梦幻西游2》官方网站 - 中国第一网游 网易西游题材扛鼎之作</title>
    <meta name="keywords" content="梦幻西游2,Q版网游,人气网游,回合制网游, 网易游戏,梦幻西游2下载,梦幻西游2官网, 梦幻西游2序列号,最好玩的网游" />
    <meta name="description" content="梦幻西游2，网易回合制网游旗舰，西游题材扛鼎之作；2.5亿注册用户， 271万玩家最高在线，每周有新服开放。人物和画面超可爱、轻轻松松交朋友！" />
    <meta name="author" content="网易，NetEase Inc." />
    <meta name="copyright" content="网易，NetEase Inc." />
    <meta name="pmid" content="272711" />
    <meta name="editor" content="rosiel" />
    <meta name="designer" content="QQ,rain" />
    <meta name="front-end technicist" content="Django" />
    <meta name="animator" content="hy" />
    <meta name="viewport" content="width=1280"/>
    <link type="text/css" rel="stylesheet" href="http://res.nie.netease.com/xyq/gw/13v1/css/index.v2.css" media="all" />

    <!--[if lte IE 8]>
    <script charset="gb2312" src="http://res.nie.netease.com/comm/html5/createEle.js"></script>
    <![endif]-->
    <!-- jquery mix NIE (最新版本）-->
    <script charset="gb2312" src="http://res.nie.netease.com/comm/js/jquery(mixNIE).last.js"></script>
    <script>
        nie.config.stats.clickStats=true;
    </script>
    <script charset="gb2312" src="http://res.nie.netease.com/xyq/gw/13v1/js/index.js"></script>
   <!-- <script src="public/javascripts/MIA.js"></script> -->
    <script>
        nie.util.pageLoad=nie.util.pageLoad||function(e){$(function(){var g=$(window),f={},h={},i=window.location.hash,j=function(){var c=g.scrollTop()-50,a=c+g.height()+50,d;for(d in f){var b=f[d],e=!1;if(b.b){if(b.y>=c&&b.y<=a||b.b>=c&&b.b<=a)e=!0}else b.y>=c&&b.y<=a&&(e=!0);e&&b.dom.attr("src",b.src)}for(d in h)b=h[d],(b.top>=c&&b.top<=a||b.bot>=c&&b.bot<=a)&&b.dom.attr("style","background-image:url("+b.src+")")};e.bgSelector&&$(e.bgSelector).each(function(c){var a=$(this),d=a.attr("data-bgUrl");if(d!=
                ""){var b=a.offset().top+parseInt($.browser.msie?a.css("background-position-y"):a.css("background-position").split(" ")[1]);h[c]={dom:a,src:d,top:b,bot:b+a.height()}}});e.imgSelector&&$(e.imgSelector).each(function(c){var a=$(this),d=a.attr("data-src");if(d!="")if(f[c]={dom:a,src:d,y:a.offset().top},a.css("height"))f[c].b=f[c].y+parseInt(a.css("height"));else if(a.attr("height"))f[c].b=f[c].y+parseInt(a.attr("height"))});g.scroll(j).resize(j);(i==""||$("a#"+i+"[name="+i+"]").length==0)&&j()})};
        setTimeout(function(){
            //优化加载
            new nie.util.pageLoad({
                imgSelector:"img"
            });
        },0);
        $(function(){
            setTimeout(function(){$('#switchnav-0').find('a').each(function(i){
                $(this).attr('mia-point','#switchnav-0-a'+i);
            }) },1000);
        })
    </script>
</head>
<body mia-tpl='xyq2-tpl1'>

<div id="NIE-topBar"></div>

<div id="wrap">
<div id="wrap-1">
<div id="wrap-2">
<div id="wrap-3">

<div id="mainbg">

<!--导航 Start 2013-06-24-->
<nav>
    <ul>
        <li><a href="/index.html" class="aNav aNav_0" mia-point='topnav-index'>首页</a></li>
        <li><a href="/news/" class="aNav aNav_1" mia-point='topnav-news'>新闻中心</a></li>
        <li><a href="/download/"  class="aNav aNav_2" mia-point='topnav-download'>下载专区</a></li>
        <li class="li_1"><a href="http://xyq.163.com/introduce/"  class="aNav aNav_3" mia-point='topnav-intro'>玩法说明</a></li>
        <li><a href="http://xyq.163.com/newer/" target="_blank"  class="aNav aNav_4" mia-point='topnav-guide'>新手指南</a></li>
        <li><a href="/fans/xq/"  class="aNav aNav_5" mia-point='topnav-show'>玩家天地</a></li>
        <li><a href="http://xyq.gm.163.com/" target="_blank"  class="aNav aNav_6" mia-point='topnav-kefu'>客服专区</a></li>
        <li><a href="http://xyq.netease.com/" target="_blank"  class="aNav aNav_7" mia-point='topnav-bbs'>论坛</a></li>
    </ul>
    <a href="http://xyq.163.com/" class="aLogo" mia-point='topnav-logo'></a>
</nav>
<!--导航 End 2013-06-24-->

<!--cms-->

<header id="headerflash"></header>

<article id="main" class="clear">

<div class="dLeft">

    <!--首页左侧 Start 2013-06-24-->
    <section class="sDownload">
        <h3 class="hide">游戏下载</h3>
        <a class="aBut aBut_0" target="_blank" href="http://xyq.163.com/download/">PC版客户端</a> <a class="aBut aBut_1" target="_blank" href="http://xyq.163.com/m/download/">口袋版客户端</a> </section>  <aside class="aQlink">
    <ul class="ulList0 clear">
        <li><a class="aBut aBut_0" target="_blank" href="https://ecard.163.com/">充值</a></li>
        <li><a class="aBut aBut_1" target="_blank" href="http://reg.163.com/reg/reg.jsp?product=xyq&url=http://xyq.163.com/download/&loginurl=http://xyq.163.com/download/">注册</a></li>
        <li><a class="aBut aBut_2" target="_blank" href="http://xyq.163.com/newer/">新手指南</a></li>
        <li><a class="aBut aBut_3" target="_blank" href="http://xyq.163.com/intro/ts/">游戏特色</a></li>
    </ul>
    <span class="sIcon"></span> </aside>  <section class="sBox0 sBox0_0">
    <h3 class="h3Title"><strong>购卡充值</strong></h3>
    <ul class="ulList0 clear">
        <li class="li_0 li_Red"><a target="_blank" href="https://ecard.163.com/">折扣购卡（推荐）</a></li>
        <li><a target="_blank" href="http://xyq.163.com/introduce/newcomer/qt006.html">计费说明</a></li>
        <li><a target="_blank" href="http://ecard.163.com/script/phone_card">手机卡充点</a></li>
        <li><a target="_blank" href="http://pay.163.com/pcard/index.shtml">快速充值</a></li>
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?paper_id=1727">消费查询</a></li>
    </ul>
    <p class="pTxt0">客服热线 020-83918162</p>
</section>  <aside class="aBan0">
    <ul class="clear">
        <li><a target="_blank" href="http://xyq.cbg.163.com/"><img src="http://res.nie.netease.com/xyq/gw/13v1/images/index/img/1.jpg" alt="藏宝阁" /></a></li>
        <li><a target="_blank" href="http://xyq.163.com/2013/9/2/4905_390985.html"><img src="http://xyq.163.com/abc_img/1309xinfu.jpg" alt="新服" /></a></li>
        <li><a target="_blank" href="http://xyq.163.com/fyb/"><img src="http://res.nie.netease.com/xyq/gw/13v1/images/index/img/3.jpg" alt="风云榜" /></a></li>
    </ul>
</aside>  <section class="sBox0">
    <h3 class="h3Title"><strong>客户服务</strong></h3>
    <ul class="ulList0 clear">
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?paper_id=177?from_xyqcom">被盗物品找回</a> </li>
        <li><a target="_blank" href="https://mima.163.com/nie/">被盗帐号修复</a> </li>
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?kind_id=16?from_xyqcom">密码找回</a> </li>
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?kind_id=36?from_xyqcom">重置安全码</a> </li>
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?kind_id=26?from_xyqcom">解除密保</a> </li>
        <li><a target="_blank" href="http://mvip.163.com/tqzq/xyq.html">手机验证特权</a> </li>
        <li class="li_Red"><a target="_blank" href="http://xyq.gm.163.com/user_help.html?paper_id=9?from_xyqcom">将军令</a>|<a target="_blank" href="http://mkey.163.com/">手机版</a> </li>
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?paper_id=34?from_xyqcom">密保卡</a> </li>
        <li><a target="_blank" href="http://nie.163.com/jiazhang/?from_xyqcom">家长监护</a> </li>
        <li><a target="_blank" href="http://box.gm.163.com/self_help.html?kind_id=623&pname=xyq#from_xyqcom">防沉迷查询</a> </li>
        <li><a target="_blank" href="http://box.gm.163.com/self_help.html?kind_id=614&pname=xyq#from_xyqcom">合服查询</a> </li>
        <li><a target="_blank" href="http://box.gm.163.com/self_help.html?kind_id=618&pname=xyq#from_xyqcom">帐号体检</a> </li>
        <li><a target="_blank" href="http://box.gm.163.com/self_help.html?kind_id=620&pname=xyq#from_xyqcom">恢复已删除角色</a> </li>
        <li><a target="_blank" href="http://box.gm.163.com/self_help.html?kind_id=609&pname=xyq#from_xyqcom">全服角色查询</a> </li>
        <li class="li_Red"><a target="_blank" href="http://box.gm.163.com/?pname=xyq#from_xyqcom">自助百宝箱</a> </li>
        <li><a target="_blank" href="http://xyq.gm.163.com/?from_xyqcom">更多服务</a> </li>
    </ul>
</section>  <aside class="aBan1"><a target="_blank" href="http://xyq.163.com/2013/7/23/4905_383525.html"><img src="http://res.nie.netease.com/xyq/gw/13v1/images/index/img/4.jpg" alt="" /></a></aside>  <section class="sBox0">
    <h3 class="h3Title"><strong>快速入口</strong></h3>
    <ul class="ulList1 clear">
        <li><a target="_blank" href="http://wst.webapp.163.com/user/index">武神坛之战</a></li>
        <li><a target="_blank" href="http://xyq.163.com/activity/bpls/news.html">帮派联赛</a></li>
        <li><a target="_blank" href="http://xyq.163.com/m/">梦幻口袋版</a></li>
        <li><a target="_blank" href="http://xyq.163.com/fans/live/">梦幻图库</a></li>
        <li><a class="aMobile" target="_blank" href="http://video.nie.163.com/cgi-bin/video?game_id=2">录像专区</a></li>
        <li><a target="_blank" href="http://gift.163.com/index_xyq.html">周边商城</a></li>
        <li><a target="_blank" href="http://xyq.163.com/video/">视频站</a></li>
        <li><a target="_blank" href="http://cartoon.nie.163.com/">动漫专区</a></li>
    </ul>
    <ul class="ulList0 clear">
        <li><a target="_blank" href="http://xyq.gm.163.com/user_help.html?paper_id=216">帐号安全</a></li>
        <li><a target="_blank" href="http://nie.163.com/bs/business.html">商务合作</a></li>
        <li><a target="_blank" href="http://gs.163.com/acctfab/xyq.html">网易游戏推广员</a></li>
        <li><a target="_blank" href="http://gamebase.163.com/">网易游戏大本营</a></li>
    </ul>
</section>
    <!--首页左侧 End 2013-06-24-->

    <!--cms-->

    <aside class="aWeibo">
        <ul class="ulTab" id="tab-1">
            <li>新浪官博</li>
            <li>腾讯官博</li>
            <li>策划面对面</li>
        </ul>
        <div class="dTabcon" id="tabcon-1">
            <div class="con"></div>
            <div class="con"></div>
            <div class="con dMdm">


                <p><font color="#000000"><span class="blue">天涯一叶</span></font>：梦幻2是怎么回事？有什么新东西吗？</p>
                <p><span class="red">策划</span>：全新世代，今夏开启！今年暑假为大家推出全新角色，全新门派，全新武器，超炫BOSS，欲知详情，请关注《梦幻西游》全新世代<a href="http://xyq.163.com/mh2/" target="_blank">揭秘站吧&gt;&gt;</a></p>


                <a href="http://xyq.163.com/2012/3/12/4999_266081.html" target="_blank" class="aBut aBut_0">我要提问</a>
                <a href="http://xyq.163.com/update/f2f_more.html" target="_blank" class="aBut aBut_1">更多</a>
            </div>
        </div>
    </aside>

    <!--首页左侧合作专区 Start 2013-06-24-->
    <aside class="aCooperation">
        <ul class="ulLink">
            <span class="sIcon"></span>
            <li class="li_T">优秀合作专区</li>
            <li><a target="_blank" href="http://game.163.com/xyq">网易梦幻西游专区</a></li>
            <li><a target="_blank" href="http://xyq.17173.com/">17173游戏网专区</a></li>
            <li><a target="_blank" href="http://xyq.duowan.com">多玩梦幻西游专区</a></li>
            <li><a target="_blank" href="http://xyq.yzz.cn/">叶子猪梦幻西游专区</a></li>
            <li><a target="_blank" href="http://xyq.uuu9.com/">游久网梦幻西游专区</a></li>
        </ul>
    </aside>
    <!--首页左侧合作专区 End 2013-06-24-->

    <!--cms-->

</div>

<div class="dMid">

<div class="dSwitchBox">
    <div class="dSwitch" id="switch-0">

        <a href="http://xyq.163.com/zhongqiu/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/10/thbn_2013-09-10_346709.jpg" alt="《梦幻西游2》2013中秋节活动" /></a>


        <a href="http://xyq.163.com/2013/koudai/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/11/thbn_2013-09-11_348191.jpg" alt="《梦幻西游2》口袋版 玩法专题" /></a>


        <a href="http://xyq.163.com/kaixue/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/3/2013-09-03_341533.jpg" alt="《梦幻西游2》2013秋季开学活动" /></a>


        <a href="http://xyq.163.com/2013/youhui/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/5/2013-09-05_343533.jpg" alt="充值抽奖大放送" /></a>


        <a href="http://xyq.163.com/2013/party/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/4/2013-09-04_343151.jpg" alt="《梦幻西游2》2013梦想盛宴" /></a>


        <a href="http://xyq.163.com/m/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/6/26/2013-06-26_284999.jpg" alt="《梦幻西游2》口袋版" /></a>

    </div>
    <div class="dSwitchnav" id="switchnav-0"></div><a href="/focus/" target="_blank" class="aMore">更多</a>
</div>

<section class="sHeadline">
    <h3 class="h3Title"><a href="http://xyq.163.com/2013/9/12/4905_393381.html" target="_blank">10万元巨奖 暑期特惠活动获奖名单揭晓</a></h3>
    <span class="sImg"><a href="http://xyq.163.com/2013/9/12/4905_393381.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/2013-09-12_349079.jpg" alt="10万元巨奖 暑期特惠活动获奖名单揭晓" /></a></span>
    <p class="pDes">暑期“新玩家特惠大礼”火热出炉，快来看看是哪些玩家获得了我们的特惠大礼，开启令人心动的梦幻旅程。...</p>
</section>

<section class="sNews">
<h3 class="h3Title">梦幻西游新闻</h3>
<ul class="ulTab" id="tab-0">
    <li><a href="http://xyq.163.com/news/" target="_blank">最新</a></li>
    <li><a href="http://xyq.163.com/news/maint.html" target="_blank">维护</a></li>
    <li><a href="http://xyq.163.com/news/hot.html" target="_blank">推荐</a></li>
    <li><a href="http://xyq.163.com/fans/zt.html" target="_blank">专题</a></li>
    <li><a href="http://xyq.163.com/news/media.html" target="_blank">媒体</a></li>
</ul>
<div class="dTabcon" id="tabcon-0">
<ul class="con ulTextlist0">

    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/2/4905_390985.html" class="red" target="_blank">《梦幻西游2》9月新开服务器</a></span>
        [09-02]
    </li>


    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/12/4905_393377.html" class="" target="_blank">一机十绑 手机将军令绑定上限提高！</a></span>
        [09-12]
    </li>


    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/10/4905_392845.html" class="" target="_blank">网易游戏携手群星传递中华文明</a></span>
        [09-10]
    </li>


    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/10/4905_392815.html" class="" target="_blank">手机验证送神兽中奖名单</a></span>
        [09-10]
    </li>


    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/9/4905_392719.html" class="" target="_blank">2013年9月10日定期维护公告</a></span>
        [09-09]
    </li>


    <li>
        <span class="sChannel"><a href="/news/">新闻</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/5/4905_392025.html" class="" target="_blank">梦想盛宴年终梦想大奖正式启动</a></span>
        [09-05]
    </li>

</ul>
<ul class="con ulTextlist0">

    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/9/4905_392719.html" class="" target="_blank">2013年9月10日定期维护公告</a></span>
        [09-09]
    </li>


    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/2/4905_391093.html" class="" target="_blank">2013年9月3日定期维护公告</a></span>
        [09-02]
    </li>


    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/8/26/4907_390045.html" class="" target="_blank">2013年8月27日定期维护公告</a></span>
        [08-26]
    </li>


    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/8/19/4907_388565.html" class="" target="_blank">2013年8月20日定期维护公告</a></span>
        [08-19]
    </li>


    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/8/12/4907_387341.html" class="" target="_blank">2013年8月13日定期维护公告</a></span>
        [08-12]
    </li>


    <li>
        <span class="sChannel"><a href="/news/maint.html">维护</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/8/5/4905_386127.html" class="" target="_blank">2013年8月6日定期维护公告</a></span>
        [08-05]
    </li>

</ul>
<ul class="con ulTextlist0">

    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.netease.com/viewthread.php?tid=3437644" class="" target="_blank">“大鸟”祥瑞开学真开心却中二病</a></span>
        [09-09]
    </li>


    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.netease.com/viewthread.php?tid=3436791" class="" target="_blank">围观杯具五宝直播，全程都是尿点</a></span>
        [09-09]
    </li>


    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.netease.com/viewthread.php?tid=3431713" class="" target="_blank">看图说话图标大全 新门派已添加</a></span>
        [09-06]
    </li>


    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.netease.com/viewthread.php?tid=3436162" class="" target="_blank">梦幻西游2013教师节活动攻略</a></span>
        [09-06]
    </li>


    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.netease.com/viewthread.php?tid=3432074" class="" target="_blank">2013年教师节问答群英会答案查询</a></span>
        [09-06]
    </li>


    <li>
        <span class="sChannel">推荐</span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/6/5443_392131.html" class="" target="_blank">基航说梦幻：恶搞旁白席卷全民PK赛</a></span>
        [09-06]
    </li>

</ul>
<ul class="con ulTextlist0">

    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/koudai/" class="" target="_blank">《梦幻西游2》口袋版 玩法专题</a></span>
        [09-11]
    </li>


    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/zhongqiu/" class="" target="_blank">《梦幻西游2》2013中秋节活动</a></span>
        [09-10]
    </li>


    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/jiaoshi/" class="" target="_blank">《梦幻西游2》2013年教师节活动</a></span>
        [09-02]
    </li>


    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/kaixue/" class="" target="_blank">《梦幻西游2》2013秋季开学活动</a></span>
        [09-02]
    </li>


    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/zhongyuan/" class="" target="_blank">《梦幻西游2》2013中元节活动专题</a></span>
        [08-16]
    </li>


    <li>
        <span class="sChannel">专题</span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/qixi/" class="" target="_blank">《梦幻西游2》2013七夕节活动专题</a></span>
        [08-07]
    </li>

</ul>
<ul class="con ulTextlist0">

    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/12/4909_393329.html" class="" target="_blank">赚大了 1棵摇钱树苗的喜剧丰收</a></span>
        [09-12]
    </li>


    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/12/4909_393327.html" class="" target="_blank">梦幻GM彰显大爱：被喂坐骑装备帮找回</a></span>
        [09-12]
    </li>


    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/12/4909_393325.html" class="" target="_blank">冲击五技能 直播100瓶超净瓶洗变异狂豹</a></span>
        [09-12]
    </li>


    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/11/4909_393071.html" class="" target="_blank">玩家树苗十连发：几家逆天几家愁</a></span>
        [09-11]
    </li>


    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/11/4909_393069.html" class="" target="_blank">双蓝字无级别逆天！玩家直播爆两个成就</a></span>
        [09-11]
    </li>


    <li>
        <span class="sChannel"><a href="/news/media.html">媒体</a></span>
        <span class="sTitle"><a href="http://xyq.163.com/2013/9/11/4909_393065.html" class="" target="_blank">紫禁城大唐离别展示：一点也不比香帅差</a></span>
        [09-11]
    </li>

</ul>
</div>
</section>

<aside class="aNewsban">
    <ul class="clear">

        <li><a href="http://xyq.163.com/gengxin/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/6/28/2013-06-28_285759.jpg" alt="更新日记专题" /></a></li>


        <li><a href="http://xyq.163.com/m/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/6/28/2013-06-28_285749.jpg" alt="口袋版官网" /></a></li>

    </ul>
</aside>

<aside class="aNewback">
    <!--首页新老礼包 Start 2013-06-24-->
    <ul class="ulList0 ulList0_0">
        <li><a href="http://xyq.baike.163.com/ziliao/1053.html" target="_blank">新手礼包<span class="sIcon"></span></a></li>
        <li><a href="http://xyq.163.com/2013/tehui/" target="_blank">暑假特惠<span class="sIcon"></span></a></li>
    </ul>
    <ul class="ulList0 ulList0_1">
        <li><a href="http://xyq.baike.163.com/ziliao/174.html" target="_blank">好友推荐<span class="sIcon"></span></a></li>
        <li><a href="http://xyq.baike.163.com/ziliao/153.html" target="_blank">老友礼包<span class="sIcon"></span></a></li>
    </ul>
    <!--首页新老礼包 End 2013-06-24-->

    <!--cms-->
</aside>

<section class="sBox1 sBox1_3">
    <h3 class="h3Title"><strong>热点玩法</strong><a href="http://xyq.baike.163.com/ziliao/" target="_blank" class="aMore">更多</a></h3>

    <!--首页热点玩法 Start 2013-06-24-->
    <table class="tTable">
        <tr>
            <td><a href="http://xyq.163.com/2011/zhuanyi/search.html" target="_blank">转区查询</a></td>
            <td><a href="http://xyq.baike.163.com/ziliao/88.html" target="_blank">乾坤盘</a></td>
            <td><a href="http://xyq.163.com/2011/csrh/jinyi.html" target="_blank">锦衣</a></td>
            <td><a href="http://xyq.163.com/ku/hdgl.html" target="_blank">日历活动</a></td>
            <td><a href="http://xyq.163.com/2007/yangyu/" target="_blank">孩子养育</a></td>
            <td><a href="http://xyq.163.com/ku/fbgl.html" target="_blank">副本</a></td>
        </tr>
        <tr>
            <td><a href="http://xyq.163.com/introduce/dj020.html" target="_blank">符石</a></td>
            <td><a href="http://xyq.baike.163.com/ziliao/298.html" target="_blank">转门派</a></td>
            <td><a href="http://xyq.163.com/clwf/" target="_blank">潮流玩法</a></td>
            <td><a href="http://xyq.163.com/2011/csrh/xyq/" target="_blank">奇经八脉</a></td>
            <td><a href="http://xyq.163.com/m/" target="_blank">口袋版</a></td>
            <td><a href="http://xyq.163.com/bizhisc/" target="_blank">壁纸生成</a></td>
        </tr>
    </table>
    <!--首页热点玩法 End 2013-06-24-->

    <!--cms-->

    <fieldset class="fSearch">
        <div class="dSearchchange">
            <ul>
                <span class="sIcon"></span>
                <li class="li_T">百科</li>
                <li><a value="xyq.baike.163.com">百科</a></li>
                <li><a value="xyq.163.com">官网</a></li>
            </ul>
        </div>
        <input type="hidden" name="gamesite" value="1"/>
        <input type="submit" class="inpBut" value="　 搜索" />
        <input type="text" value="角色转移" id="searchKeyWords"  name="q" class="inpTxt" />
    </fieldset>

</section>

<section class="sBox1 sBox1_0">
    <h3 class="h3Title"><strong>玩家攻略</strong><a href="http://xyq.163.com/skill/" target="_blank" class="aMore">更多</a></h3>
    <ul class="ulTextlist0">

        <li>[活动] <a href="http://xyq.netease.com/viewthread.php?tid=3431713" class="" target="_blank">看图说话图标 新门派已添加</a></li>


        <li>[活动] <a href="http://xyq.netease.com/viewthread.php?tid=3436162" class="" target="_blank">梦幻2013教师节活动攻略</a></li>


        <li>[活动] <a href="http://xyq.netease.com/viewthread.php?tid=3432074" class="" target="_blank">教师节问答群英会答案查询</a></li>


        <li>[活动] <a href="http://xyq.netease.com/viewthread.php?tid=3430930" class="" target="_blank">开学活动课堂修行答案题库</a></li>


        <li>[任务] <a href="http://xyq.netease.com/viewthread.php?tid=3428740" class="" target="_blank">三星神器噬魂齿之争攻略</a></li>


        <li>[孩子] <a href="http://xyq.163.com/skill/2013/8/27/4924_390179.html" class="" target="_blank">图解新雄黄酒 孩子属性全方位提升</a></li>

    </ul>
    <p class="pTxt0">
        <!--首页玩家攻略底部文字 Start 2013-06-24-->
        <a href="http://xyq.163.com/skill/xx.html" target="_blank">新手</a> | <a href="http://xyq.163.com/skill/mp.html" target="_blank">门派</a> | <a href="http://xyq.163.com/skill/hd.html" target="_blank">活动</a> | <a href="http://xyq.163.com/skill/fuben.html" target="_blank">副本</a> | <a href="http://xyq.163.com/skill/pk.html" target="_blank">PK</a>
        <!--首页玩家攻略底部文字 End 2013-06-24-->

        <!--cms-->
    </p>
</section>

<section class="sTools">
    <h3 class="h3Title">梦幻工具箱</h3>
    <a href="http://xyq.163.com/skill/tools.html" target="_blank" class="aMore">更多</a>
    <ul class="ulList0">

        <li><a href="http://xyq.163.com/tools/index.html" class="" target="_blank">梦幻工具箱网页版</a></li>


        <li><a href="http://xyq.163.com/bizhisc/" class="" target="_blank">壁纸自动生成器</a></li>


        <li><a href="http://xyq.163.com/ku/cjx/" class="" target="_blank">成就秀模拟器</a></li>


        <li><a href="http://xyq.163.com/2011/zhuanyi/search.html" class="" target="_blank">梦幻转区查询</a></li>


        <li><a href="http://xyq.163.com/ku/fbgl.html" class="" target="_blank">副本攻略汇总</a></li>


        <li><a href="http://xyq.163.com/ku/hdgl.html" class="" target="_blank">日历活动攻略库</a></li>


        <li><a href="http://xyq.163.com/2011/csrh/xyq/" class="" target="_blank">奇经八脉模拟器</a></li>


        <li><a href="http://xyq.163.com/skill/2012/11/13/4895_349629.html" class="" target="_blank">开区合服时间查询</a></li>

    </ul>
</section>

<section class="sBox1 clear">
    <h3 class="h3Title"><strong>八卦杂谈</strong><a href="http://xyq.163.com/fans/bbs/hotbbs.html" target="_blank">热帖</a> | <a href="http://xyq.163.com/fans/xq/" target="_blank">心情</a> | <a href="http://xyq.163.com/skill/jzz.html" target="_blank">记者站</a></h3>
    <ul class="ulTextlist1 clear">

        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3437182" class="" target="_blank">囧图：全服最强剑侠客</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3440264" class="" target="_blank">【梦幻故事会】所谓伊人</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3440528" class="" target="_blank">胖手非四格 西域舞胖锦衣</a></li>


        <li>[记者站] <a href="http://xyq.netease.com/viewthread.php?tid=3440585" class="" target="_blank">颐和园朝暮家族帅哥专访</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3440000" class="" target="_blank">86联看点盘点</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3433941" class="" target="_blank">86联16锻、法防回归</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3436483" class="" target="_blank">86联武神坛选拔赛录像</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3436712" class="" target="_blank">如愿以偿金箱子爆出高兽决</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3437644" class="" target="_blank">现实版人参果特价出售</a></li>


        <li>[热帖] <a href="http://xyq.netease.com/viewthread.php?tid=3437174" class="" target="_blank">恩，不要#17这样太快了！</a></li>

    </ul>
</section>

<section class="sBox1 clear">
    <h3 class="h3Title"><strong>游戏影音</strong><a href="http://xyq.163.com/fans/sg/index.html" target="_blank">四格</a> | <a href="http://xyq.163.com/fans/cartoon/" target="_blank">动漫</a> | <a href="http://xyq.163.com/fans/video/" target="_blank">视频</a></h3>
    <ul class="ulPiclist0 clear">

        <li><a href="http://xyq.netease.com/viewthread.php?tid=3440528" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/2013-09-12_349037.jpg" alt="西域舞胖锦衣" /></a><span>[四格] <a href="http://xyq.netease.com/viewthread.php?tid=3440528" target="_blank">西域舞胖锦衣</a></span></li>


        <li><a href="http://xyq.netease.com/viewthread.php?tid=3439931" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/11/2013-09-11_348151.jpg" alt="笑看新门派" /></a><span>[四格] <a href="http://xyq.netease.com/viewthread.php?tid=3439931" target="_blank">笑看新门派</a></span></li>


        <li><a href="http://xyq.netease.com/viewthread.php?tid=3437174" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/9/thbn_2013-09-09_346481.jpg" alt="发展过快" /></a><span>[四格] <a href="http://xyq.netease.com/viewthread.php?tid=3437174" target="_blank">发展过快</a></span></li>

    </ul>
</section>

</div>

<div class="dRight" id="right">

    <aside class="aMorelink">
        <ul>
            <li><a href="http://xyq.163.com/fans/live/" target="_blank" class="aBut aBut_0">图片站</a></li>
            <li><a href="http://wst.webapp.163.com/user/index" target="_blank" class="aBut aBut_1">武神坛之战</a></li>
            <li><a href="http://video.nie.163.com/cgi-bin/video?game_id=2" target="_blank" class="aBut aBut_2">录像站</a></li>
        </ul>
    </aside>

    <section class="sBox1 sBox1_1 clear">
        <h3 class="h3Title"><strong>近期热点</strong><a href="/hot/" target="_blank" class="aMore">更多</a></h3>
        <ul class="ulPiclist1">

            <li><a href="http://xyq.163.com/2013/koudai/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/2013-09-12_348685.jpg" alt="口袋版玩法专题" /></a></li>


            <li><a href="http://xyq.163.com/hot/2013/9/9/12783_392553.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/11/thbn_2013-09-11_347577.jpg" alt="《梦幻图周刊》第十期" /></a></li>

        </ul>
        <ul class="ulTextlist2">

            <li><a href="http://xyq.163.com/hot/2013/9/13/12783_393425.html" class="" target="_blank">86联前瞻 桑浦山御天之行新起航！</a>[09-13]</li>


            <li><a href="http://xyq.163.com/hot/2013/9/12/12783_393357.html" class="" target="_blank">梦幻囧图第6期 我大方寸欢迎你</a>[09-12]</li>


            <li><a href="http://xyq.163.com/2013/koudai/" class="" target="_blank">《梦幻西游2》口袋版 玩法专题</a>[09-11]</li>


            <li><a href="http://xyq.163.com/hot/2013/9/11/12783_393039.html" class="" target="_blank">服务器回忆史 凌云殿传奇</a>[09-11]</li>


            <li><a href="http://xyq.163.com/hot/2013/9/11/12783_393041.html" class="" target="_blank">口袋版练级小技巧 修行任务详解</a>[09-11]</li>


            <li><a href="http://xyq.163.com/hot/2013/9/11/12783_393029.html" class="" target="_blank">为平民代言 不穿锦衣一样能极品</a>[09-11]</li>


            <li><a href="http://xyq.163.com/hot/2013/9/10/12783_392905.html" class="" target="_blank">年轻时代回忆 那些年看过的攻略书</a>[09-11]</li>

        </ul>
    </section>

    <section class="sBox1 sBox1_1 clear">
        <h3 class="h3Title h3Title_0"><strong>梦幻图库</strong><a href="/fans/live/" target="_blank">直播</a> | <a href="/fans/property/" target="_blank">属性</a> | <a href="/fans/fun/" target="_blank">趣图</a></h3>
        <ul class="ulPiclist0 clear">

            <li><a href="http://xyq.163.com/fan/jt/2013/9/11/4973_393183.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/13/thbn_2013-09-13_349155.jpg" alt="极品装备汇总第三波" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/11/4973_393183.html" target="_blank">极品装备汇总第三波</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/13/4974_393343.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/13/thbn_2013-09-13_349153.jpg" alt="洗变异大力能否逆袭？" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/13/4974_393343.html" target="_blank">洗变异大力能否逆袭？</a></span></li>


            <li><a href="http://xyq.163.com/hot/2013/9/12/12783_393357.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/thbn_2013-09-12_349047.jpg" alt="梦幻囧图第6期" /></a><span><a href="http://xyq.163.com/hot/2013/9/12/12783_393357.html" target="_blank">梦幻囧图第6期</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/12/4973_393333.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/thbn_2013-09-12_348829.jpg" alt="神威一线大唐展示" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/12/4973_393333.html" target="_blank">神威一线大唐展示</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/9/4978_392691.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/9/2013-09-09_346245.jpg" alt="有才玩家爱画武器图" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/9/4978_392691.html" target="_blank">有才玩家爱画武器图</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/12/4978_393263.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/2013-09-12_348647.jpg" alt="留洋妹子的锦衣搭配" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/12/4978_393263.html" target="_blank">留洋妹子的锦衣搭配</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/12/4974_393253.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/2013-09-12_348497.jpg" alt="你在逗我么，武器呢？" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/12/4974_393253.html" target="_blank">你在逗我么，武器呢？</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/11/4973_393047.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/thbn_2013-09-12_348485.jpg" alt="极品装备汇总第二波" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/11/4973_393047.html" target="_blank">极品装备汇总第二波</a></span></li>


            <li><a href="http://xyq.163.com/fan/jt/2013/9/11/4955_393193.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/12/thbn_2013-09-12_348451.jpg" alt="奖励丰富 梦幻口袋版直播" /></a><span><a href="http://xyq.163.com/fan/jt/2013/9/11/4955_393193.html" target="_blank">奖励丰富 梦幻口袋版直播</a></span></li>

        </ul>
    </section>

    <section class="sBox1 sBox1_4 clear">
        <h3 class="h3Title"><strong>录像专区</strong><a href="http://video.nie.163.com/cgi-bin/video?action=show_upload_video&game_id=2" target="_blank" class="aUpload">我要上传</a> <a href="/video/pk/" target="_blank" class="aMore">更多</a></h3>
        <div class="dSwitchBox0">
            <div class="dSwitch0" id="switch-1">

                <a href="http://xyq.163.com/fans/lx/2013/7/24/12805_383855.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336021.jpg" alt="暴力对决！84联4进2紫禁城VS朱紫坊" /></a>


                <a href="http://xyq.163.com/fans/lx/2013/7/24/12805_383227.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/7/24/2013-07-24_308595.jpg" alt="全服最牛STL　雄鹰岭逆袭紫禁城" /></a>


                <a href="http://xyq.163.com/fans/lx/2013/7/5/12805_380213.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336017.jpg" alt="输出媲美狮驼岭！凌波城跨服实战数据" /></a>


                <a href="http://xyq.163.com/fans/lx/2013/6/26/12805_378739.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336015.jpg" alt="保护失位 一个大死亡大破防线" /></a>


                <a href="http://xyq.163.com/fans/lx/2013/6/26/12805_378737.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336013.jpg" alt="就是拼几率 全力地府闪耀精锐" /></a>

            </div>
            <div class="dSwitchnav0" id="switchnav-1"></div>
        </div>
        <ul class="ulTextlist2">

            <li><a href="http://xyq.163.com/fans/lx/2013/9/12/12809_393303.html" class="" target="_blank">逆天的复活，逆天的翻盘</a>[09-12]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/12/12813_393217.html" class="" target="_blank">双狮驼暴力对抗</a>[09-12]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/11/12813_392955.html" class="" target="_blank">屡中死亡砍不倒的钢板队伍</a>[09-11]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/9/12809_392613.html" class="" target="_blank">罗浮山59完克69五女儿</a>[09-09]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/9/12809_392601.html" class="" target="_blank">对阵偷袭三方寸队，打的对方兵解</a>[09-09]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/9/12809_392577.html" class="" target="_blank">猫先生1V3，求曝光属性</a>[09-09]</li>



            <li><a href="http://xyq.163.com/fans/lx/2013/9/8/12809_392479.html" class="" target="_blank">擂台比武，69神木林实战</a>[09-08]</li>


        </ul>
    </section>

    <section class="sBox1 sBox1_1 clear">
        <h3 class="h3Title"><strong>武神坛</strong><a href="http://wst.webapp.163.com/user/index" target="_blank" class="aMore">更多</a></h3>
        <div class="dSwitchBox0">
            <div class="dSwitch0" id="switch-2">

                <a href="http://xyq.163.com/2013/wst/85/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/20/thbn_2013-08-20_330701.jpg" alt="85届武神坛 回顾专题" /></a>


                <a href="http://xyq.163.com/2013/wst/84/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/7/24/2013-07-24_308849.jpg" alt="亮点众多，爆料不断！84联武神坛汇总" /></a>


                <a href="http://xyq.163.com/2013/wst/zt/laoban/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336019.jpg" alt="细数豪强志士，武神坛老板盘点！" /></a>


                <a href="http://xyq.163.com/2013/wst/zt/bisai/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/7/4/2013-07-04_288365.jpg" alt="重拾激情 回顾精彩！武神坛比赛推荐" /></a>


                <a href="http://xyq.163.com/2013/wst/zt/jieshuo/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336011.jpg" alt="武神坛解说盘点专题" /></a>

            </div>
            <div class="dSwitchnav0" id="switchnav-2"></div>
        </div>

        <ul class="ulTab" id="tab-2">
            <li><a>最新热点</a></li>
            <li><a>尊宝阁</a></li>
        </ul>
        <div class="dTabcon" id="tabcon-2">
            <ul class="ulTextlist2 con">

                <li><a href="http://xyq.163.com/wst/2013/9/13/12791_393425.html" class="" target="_blank">86联前瞻 桑浦山御天之行新起航！</a>[09-13]</li>


                <li><a href="http://xyq.163.com/wst/2013/9/11/12791_393039.html" class="" target="_blank">服务器回忆史 凌云殿传奇</a>[09-11]</li>


                <li><a href="http://xyq.163.com/wst/2013/9/10/12791_392747.html" class="" target="_blank">武神坛2线化生展示 全身12锻</a>[09-09]</li>


                <li><a href="http://xyq.163.com/wst/2013/9/9/12791_391949.html" class="" target="_blank">服务器回忆录 再续前缘10年追梦路</a>[09-09]</li>


                <li><a href="http://xyq.163.com/wst/2013/8/29/12791_390513.html" class="" target="_blank">为冠军而战！沂水雪山服战团队展</a>[08-29]</li>


                <li><a href="http://xyq.163.com/wst/2013/8/26/12791_389945.html" class="" target="_blank">海量全红宠 汴梁城服战大唐展示</a>[08-26]</li>

            </ul>
            <iframe class="con" src="http://game.163.com/special/iframe/xyq_2013iframe.html" scrolling="no" frameborder="no" width="275" height="174" allowtransparency="true"></iframe>
        </div>
    </section>

    <section class="sBox1 sBox1_2 clear">
        <h3 class="h3Title"><strong>玩家风采</strong><a href="http://xyqzq.webapp.163.com/view/" target="_blank" class="aUpload">我要上传</a> <a href="/fans/wanjia/" target="_blank" class="aMore">更多</a></h3>
        <ul class="ulPiclist0 clear">

            <li><a href="http://xyq.163.com/fans/show/2013/9/9/11867_392631.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/9/2013-09-09_346295.jpg" alt="奢侈品、妖精" /></a><span>昵称：<a href="http://xyq.163.com/fans/show/2013/9/9/11867_392631.html" target="_blank">奢侈品、妖精</a></span></li>


            <li><a href="http://xyq.163.com/fans/show/2013/8/20/11867_388927.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336031.jpg" alt="净友" /></a><span>昵称：<a href="http://xyq.163.com/fans/show/2013/8/20/11867_388927.html" target="_blank">净友</a></span></li>


            <li><a href="http://xyq.163.com/fans/show/2013/8/14/11867_387715.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/14/2013-08-14_326137.jpg" alt="っLibra晗" /></a><span>昵称：<a href="http://xyq.163.com/fans/show/2013/8/14/11867_387715.html" target="_blank">っLibra晗</a></span></li>

        </ul>
    </section>

</div>

</article>

<section class="sActivity">
    <h3 class="h3Title">合作活动</h3>
    <ul class="ulPiclist0 clear">

        <li><a href="http://xyq.163.com/2013/koudai/" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/11/thbn_2013-09-11_348185.jpg" alt="《梦幻西游2》口袋版 玩法专题" /></a></li>


        <li><a href="http://gift.163.com/2013_school.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/30/2013-08-30_339727.jpg" alt="6折抢购开学装备" /></a></li>


        <li><a href="http://xyq.netease.com/viewthread.php?tid=3412114" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/26/2013-08-26_336025.jpg" alt="玩口袋版用什么姿势" /></a></li>


        <li><a href="http://xyq.163.com/2013/9/3/4905_391241.html" target="_blank"><img data-src="http://img.nie.163.com/images/2013/9/3/thbn_2013-09-03_341753.jpg" alt="网易游戏揭秘【飞天之梦】" /></a></li>


        <li><a href="http://mkey.163.com/2013/v3/?from=xyqbanner" target="_blank"><img data-src="http://img.nie.163.com/images/2013/8/8/2013-08-08_322067.png" alt="手机将军令3.0上线 全民夺奖三重奏" /></a></li>

    </ul>
</section>

<aside class="aShare" id="share"></aside>

<!-- NIE 底部版权 Start -->
<footer id="NIE-copyRight"></footer>
<!-- NIE 底部版权 End -->

</div>

</div>
</div>
</div>
</div>

<style type="text/css">
    @import url(http://res.nie.netease.com/comm/js/nie/util/urs/bigUrs.case1.css);
    .NIE-qreg{margin:0;padding:0;position:absolute;top:243px;right:0;width:249px;height:478px;background:url(http://res.nie.netease.com/xyq/gw/10v1/images/home_qregbg.png) no-repeat 0 0;overflow:hidden;position:fixed;display:none;}
    .NIE-qreg a,.NIE-qreg a:visited,.NIE-qreg a:hover{color:#98FBFF;}
    .NIE-qreg h3{height:23px;clear:both;}
    .NIE-qreg h3 strong{display:none;}
    .NIE-qreg-close{position:absolute;top:0;right:5px;width:23px;height:23px;background:url(http://res.nie.netease.com/xyq/gw/10v1/images/home_qregbg.png) no-repeat 1000px 1000px;cursor:pointer;overflow:hidden;text-indent:-99999px;}
    .NIE-qreg .NIE-quickReg{height:238px;width:250px;margin:0;overflow:hidden;position:relative;clear:both;display:block;}
    .NIE-quickReg dt{color:#98FBFF;width:72px;}
    .NIE-quickReg .qr-agree{color:#98FBFF;line-height:1.2;}
    .qrUserInp, .qrPWInp, .qrRePWInp{width:145px;padding-left:2px;padding-right:2px;font-size:12px;}
    .NIE-quickReg dt.qr-submit{width:60px;}
    .NIE-quickReg .qr-submit{height:30px;padding-top:6px;}
    .qrSubmitInp{ width:110px; height:28px; background:url(http://res.nie.netease.com/xyq/gw/10v1/images/home_qregbg.png) -130px -488px no-repeat;color:#fff;border:none;margin:0 0 0 9px;font-size:13px;}
    .qrSubmitInp:hover{color:#ff0;}
    .NIE-quickReg dt.qr-agree{width:40px;}
    .NIE-quickReg dd.qr-agree{width:200px;}
    .qreg-btm{text-align:center;line-height:1.4;color:#FEF1E3;margin-bottom:5px;}
    .qrCon{width:152px;}
    .qrUser163Inp, .qrCaptchaInp{width:43px;padding-left:2px;padding-right:2px}
    .captcha-wrap{margin-left:2px;}
    .qrNoEmail{padding-right:25px;height:40px;margin-top:-1px;}
    .NIE-quickReg .qr-captcha{height:27px;overflow:hidden;margin-bottom:-1px;}

    .dload{text-align:center;clear:both;width:220px;height:90px;margin:0 auto;overflow:hidden;}
    .dload h3{height:50px;overflow:hidden;text-indent:-9999px;}
    .dload a{margin:0 5px;}

    .getsn{width:220px;height:150px;margin:0 auto;overflow:hidden;}
    .getsn h3{height:40px;overflow:hidden;text-indent:-9999px;clear:both;margin:0;}
    .getsn-ifm{height:64px;width:220px;}
    .getsn-ifm a{float:left;display:inline;width:110px;height:28px;background:url(http://res.nie.netease.com/xyq/gw/10v1/images/home_qregbg.png) 0 -489px no-repeat;clear:both;overflow:hidden;margin:20px auto 0 55px;cursor:pointer;overflow:hidden;line-height:26px;text-align:center;}
    .getsn-ifm a,.getsn-ifm a:visited{color:#fff;}
    .getsn-ifm a:hover{color:#ff0;text-decoration:none;}
    .getsn-ifm iframe{width:220px;height:72px;}
    .getsn-txt{padding:0 2px;color:#98FBFF;line-height:1.4;clear:both;height:35px;}
    .NIE-qreg-closed{background-position:-250px 0;cursor:pointer;width:42px;height:300px;}
    .NIE-qreg-closed *{display:none;}
    .NIE-qreg-button{cursor:pointer;width:42px;height:300px;display:none;}
    .NIE-qreg-closed .NIE-qreg-button{display:block;}
</style>
<div class="NIE-qreg NIE-qreg-closed" id="NIE-qreg">
    <div class="NIE-qreg-button" id="NIE-qreg-button"></div>
    <!-- NIE bigUrs 小版本 css-->
    <!-- Start 大通行证.快速注册 -->
    <p class="NIE-quickReg-loading" style="display:none;">注册网易通行证加载中,请稍后.</p>
    <form class="NIE-quickReg" method="post" onsubmit="return false;" style="display:;" action="#">
        <h3 class="NIE-qreg-hd"><strong>30秒快速注册</strong><div class="NIE-qreg-close" id="NIE-qreg-close">收起</div></h3>
        <p class="qrNoEmail"><a class="createEmailBtn" target="_blank">还没有邮箱？</a></p>
        <dl>
            <dt class="qr-username">常用邮件：</dt>
            <dd class="qr-username">
                <ul>
                    <li class="qrCon">
                        <input class="qrUserInp qrInpTxt" type="text" name="username" autocomplete="off" tabindex="1" />
                        <!-- 邮箱地址.错误提示 --><input rel="username" class="qrUserInp qrError qrHide" readonly="readonly" tabindex="1" />
                        <div class="suggestDomain"><ul><!--域名提示建议--></ul></div>
                    </li>
                    <li class="qrChk"><!-- 邮箱地址.提示 --></li>
                </ul>
            </dd>
            <dt class="qr-password">设置密码：</dt>
            <dd class="qr-password">
                <ul>
                    <li class="qrCon">
                        <input class="qrPWInp qrInpTxt" type="password" name="password" tabindex="2" />
                        <!-- 设置密码.错误提示 --><input rel="password" class="qrPWInp qrError qrHide" readonly="readonly" tabindex="2" />
                    </li>
                    <li class="qrChk"><!-- 设置密码.提示 --></li>
                </ul>
            </dd>
            <dt class="qr-repassword">确认密码：</dt>
            <dd class="qr-repassword">
                <ul>
                    <li class="qrCon">
                        <input class="qrRePWInp qrInpTxt" type="password" name="repassword" tabindex="3" />
                        <!-- 确认密码.错误提示 --><input rel="repassword" class="qrRePWInp qrError qrHide" readonly="readonly" tabindex="3" />
                    </li>
                    <li class="qrChk"><!-- 确认密码.提示 --></li>
                </ul>
            </dd>
            <dt class="qr-captcha">验证码：</dt>
            <dd class="qr-captcha">
                <ul>
                    <li class="qrCon">
                        <input class="qrCaptchaInp qrInpTxt"  type="text" name="captcha" autocomplete="off" tabindex="4" />
                        <!-- 验证码数.错误提示 --><input rel="captcha" class="qrCaptchaInp qrError qrHide" readonly="readonly" tabindex="4" />
                        <span class="captcha-wrap hideItem loading"><!--验证码数.图片--></span>
                    </li>
                    <li class="qrChk"><!-- 验证码数.提示 --></li>
                </ul>
            </dd>
            <dt class="qr-agree"><input id="qr-agreeInp" name="agree" type="checkbox" checked="checked" /></dt>
            <dd class="qr-agree">
                <input type="hidden" name="promark" id="promark" value="" />
                <label for="qr-agreeInp">
                    我同意
                    "<a href="http://reg.163.com/agreement.shtml" target="_blank">服务条款</a>"和<br />"<a href="http://reg.163.com/agreement_game.shtml" target="_blank">隐私保护和个人信息利用政策</a>"
                </label>
            </dd>
            <dt class="qr-submit"></dt>
            <dd class="qr-submit"><input class="qrSubmitInp" type="submit" title="完成注册" value="完成注册" tabindex="5" /></dd>
        </dl>
    </form>
    <!-- End 大通行证.快速注册 -->
    <div class="dload">
        <h3>15分钟下载游戏</h3>
        <a href="http://xyq.gdl.netease.com/MHXY-MINI-2.0.132.exe" id="dl_1">迷你版下载</a>
        <a href="http://down.sandai.net/xlgame/MHXY_setup.exe" id="dl_2">BT下载</a>
        <a href="http://fastdl.nie.163.com/MHXY_JD_setup.exe.torrent" id="dl_3">迅雷下载</a>
    </div>
    <div class="getsn">
        <h3>快来领取新手礼包</h3>
        <p class="getsn-txt">进入游戏后，请找建邺（83，103）的NPC "幸运使者"输入序列号，获 得神秘大礼!</p>
        <div class="getsn-ifm" id="getsn_ifm" ifm="http://get-cdkey.webapp.163.com/htmls/20120627_xyq_fab.html">
            <a href="#getsn_ifm" id="get_sn_button" title="点击领取序列号">领取序列号</a>
        </div>
        <!--getsn--></div>
    <!--NIE-qreg--></div>
<script type="text/javascript">
    (function(){
        qreg=$("#NIE-qreg").css("position","absolute");
        function NIEQuickReg(){
            nie.use(["nie.util.bigUrs"],function(){
                var bigUrs =  nie.util.bigUrs.create();
                bigUrs.init();
                qreg.show();
            });
            $("#NIE-qreg-button").click(function(e) {
                $("#NIE-qreg").removeClass("NIE-qreg-closed");
            });
            $("#NIE-qreg-close").click(function(e){
                $("#NIE-qreg").addClass("NIE-qreg-closed");
            });
            $("#getsn_ifm").click(function(){
                var self=$(this),ifm=self.attr("ifm") || "", snStr='<ifr'+'ame frameborder="0" scrolling="no" allowtransparency="true" src="'+ifm+'"></ifr'+'ame>';
                if(self.find("iframe").size()==0){
                    self.html(snStr);
                }
                return false;
            });
            var w=$(window);

            function fixQregPosition(time){
                var elm=qreg,h=elm.outerHeight(),scTop=w.scrollTop(),wH=w.height();
                if(h>=wH) return;
                elm.stop().animate({"top":scTop+(wH-h)/2},time||400);
            }
            fixQregPosition(1);
            w.bind("resize , scroll",fixQregPosition);

        }
        nie.use(["util.cookie"],function(){
            var reff=$.cookie("fab.xyq.06") || document.referrer;

            if(reff && reff.length>0){
                var urlHash={
                            "http://xyq.163.com/2013fab/":1,
                            "http://xyq.163.com/nb/":2,
                            "http://xyq.163.com/hi/":3,
                            "http://xyq.163.com/baidu/":4,
                            "http://yx.163.com/xyq/2012/":5
                        },
                        targetUrl ={
                            "http://xyq.163.com/":"7vxd3qwc",
                            "http://xyq.163.com/intro/ts/":"by2q8a0i",
                            "http://localhost.163.com/2010/homepage201003/html/homepage.html":"7vxd3qwc"
                        },
                        promarkVal=null;
                for(var k in urlHash){
                    if(reff.indexOf(k)==0) promarkVal=urlHash[k];
                }
                if(promarkVal===null){
                    qreg.hide();
                    return;
                }
                promarkVal=null;
                var loca=window.location.href;
                for(var k in targetUrl){
                    if(loca.indexOf(k)==0) promarkVal=targetUrl[k];
                }
                if(promarkVal===null){
                    qreg.hide();
                    return;
                }
                NIEQuickReg();
                $("#promark").val(promarkVal);
            }else{
                $("#NIE-qreg").hide();
            }
        });
    })()
</script>

<!-- 右边跟随图 Start
<style>
#fcr{position:absolute;display:inline-block;height:384px;right:0;bottom:0;z-index:99999;}
.btn-slide{  cursor: pointer;width: 18px;height: 18px; position: absolute;right:3px;top:3px;z-index:9999;background:url(http://res.nie.163.com/comm/blank.gif) repeat-y 50% 0}
</style>

<div id="fcr">
<a class="btn-slide"></a>
<a href="http://xyq.163.com/2013/7/29/4905_384893.html" class="a-but" target="_blank"><img src="http://res.nie.netease.com/xyq/gw/13v1/images/index/img/250x384.jpg" /></a>
</div>

<script>
$(function(){
	var nt= $(window).scrollTop()+$(window).height()-$("#fcr").height()
	$("#fcr").css({"top":nt})
	$(window).scroll(function(){
		nt = $(window).scrollTop()+$(window).height()-$("#fcr").height()
		$("#fcr").stop().animate({"top":nt})
	});
	$(".btn-slide").click(function(){
		$("#fcr").hide()
		return false;
	});
});
</script>
右边跟随图 End-->

<span class="hide">


</span>
</span>
</body>
</html>